<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Mall rating
  </h1>
</div>
<h2>Задача: предсказать покупательскую способность по возрасту покупателя. </h2>
<p>Dataset: <a href="https://www.kaggle.com/vjchoudhary7/customer-segmentation-tutorial-in-python/version/1">https://www.kaggle.com/vjchoudhary7/customer-segmentation-tutorial-in-python/version/1</a></p>
<p style="white-space: pre-wrap;"><b>Linear regression function:</b> {{linearRegressionResult}}</p>
<p style="white-space: pre-wrap;"><b>Logarithmic regression function:</b> {{logRegressionResult}}</p>
<p style="white-space: pre-wrap;"><b>Polynomial regression function:</b> {{polynomialRegressionResult}}</p>
